{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form action="/read_file/" method="post" enctype="multipart/form-data" name="form2" id="form2">
        {% csrf_token %}
      <div class="input-group mb-3">
          <input type="submit"  value="submit">
      </div>

    <hr>
    <table style="width:50%">
        <tr>
          <td>company</td>
          <td><select name="select0"  class="form-control" id="select0">
              <option>select</option>
              {% for column in allcolumns %}
                   <option> {{column}}</option>
              {% endfor %}
           </select>
          </td>
        </tr>
        <tr>
          <td>first_name</td>
          <td><select name="select1"  class="form-control" id="select1">
              <option>select</option>
              {% for column in allcolumns %}
                   <option> {{column}}</option>
              {% endfor %}
           </select>
          </td>
        </tr>
        <tr>
          <td>last_name </td>
          <td>
            <select name="select2"  class="form-control" id="select2">
              <option>select</option>
              {% for column in allcolumns %}
                   <option>{{column}}</option>
              {% endfor %}
           </select>
          </td>
        </tr>
        <tr>
          <td>phone</td>
          <td>
            <select  name="select3"  class="form-control" id="select3">
              <option>select</option>
              {% for column in allcolumns %}
                   <option>{{column}}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        <tr>
          <td>email</td>
          <td>
            <select name="select4" class="form-control" id="select4">
               <option>select</option>
              {% for column in allcolumns %}
                   <option> {{column}}</option>
              {% endfor %}
           </select>
          </td>
        </tr>
        <tr style="text-decoration:underline;color:	#000080;font-size:20px;">
             <td>address:</td>
        </tr>
        <tr>
           <td>addressfirst_name</td>
          <td>
            <select  name="select5"  class="form-control" id="select5">
              <option>select</option>
              {% for column in allcolumns %}
                   <option>{{column}}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        <tr>
        <td>address_city</td>
        <td>
          <select  name="select7"  class="form-control" id="select7">
              <option>select</option>
              {% for column in allcolumns %}
                   <option> {{column}}</option>
              {% endfor %}
          </select>
        </td>
        </tr>
        <tr>
        <td>country_code</td>
        <td>
          <select name="select8"  class="form-control" id="select8">
              <option>select</option>
              {% for column in allcolumns %}
                   <option> {{column}}</option>
              {% endfor %}
          </select>
        </td>
        </tr>
        <tr>
        <td>address_lname</td>
        <td>
          <select name="select9"  class="form-control" id="select9">
              <option >select</option>
              {% for column in allcolumns %}
                   <option> {{column}}</option>
              {% endfor %}
          </select>
        </td>
        </tr>
        <tr>
        <td>address1</td>
        <td>
          <select name="select-10"  class="form-control" id="select-10">
              <option>select</option>
              {% for column in allcolumns %}
                   <option> {{column}}</option>
              {% endfor %}
          </select>
        </td>
        </tr>
        <tr>
        <td>postal_code</td>
        <td>
          <select name="select-11"  class="form-control" id="select-11">
              <option>select</option>
              {% for column in allcolumns %}
                   <option>{{column}}</option>
              {% endfor %}
          </select>
        </td>
        </tr>
        <tr>
        <td>state_or_province</td>
        <td>
          <select name="select-12"  class="form-control" id="select-12">
              <option>select</option>
              {% for column in allcolumns %}
                   <option> {{column}}</option>
              {% endfor %}
          </select>
        </td>
        </tr>
    </table>
    </form>
    </div>
{% endblock %}